# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs
/Archon1/.vs/Archon1.slnx


# Archivos de configuración de usuario de Visual Studio
*.vcxproj.user
*.sqlproj.user
*.layou.json

# Carpetas de salida de compilación
[Dd]ebug/
[Rr]elease/
x64/
x86/